.footer-main {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgba(59, 59, 68, 0.75); */
    background-color: black;
    /* box-shadow: 0 8px 29px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 6rem;
    /* border-radius: 18px; */
}

.footer-heading {
    color: white;
    background-color: black;
}

.footer-para {
    background-color: black;

}

@media(max-width:425px) {
    .footer-main {
        margin-top: 8rem;
    }

    .footer-heading {
        width: 100vw;
    }

    .footer-heading h3 {
        text-align: center;


    }

    .footer-para {
        width: 100vw;
        background-color: black;
    }
}