body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    /* padding: 0; */
    margin: 0;
    font-weight: bolder;
    font-size: 2rem;
}

h3 {
    margin: 0;
    font-weight: bolder;
    font-size: 2rem;
    font-weight: 800;

}

a {
    text-decoration: none;
    color: white;
    /* padding: 15px; */
}

.ham-menu {
    display: none;

}

.grow2 li:hover {
    /* text-shadow: 2px 2px #881ac3; */
    text-shadow: 2px 2px #0277BD;
    cursor: pointer;

}

/* Hover effects */
.grow::after {
    width: 0;
    content: '';
    height: 2.3px;
    /* background-color: rgb(66, 17, 213); */
    /* background-color: #0277BD; */
    background-color: #3C32B0;
    margin: auto;
    display: block;
    left: 50%;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;

}

.grow:hover::after {
    width: 100%;
    /* transition: width 0.2s linear; */
}





.main-nav {
    /* background-color: blue; */
    background-color: #1A1A1A;
    width: 100%;
    color: white;
    height: 5rem;
    /* height: 10rem; */
    display: grid;
    grid-template-columns: 4rem 1fr 3fr 3fr 4rem;
    /* to stick it to top */
    position: fixed;
    top: 0;
    z-index: 9999;


}

.nav-logo {
    height: 5rem;
    grid-column: 2/3;
    /* display: grid; */
    color: white;
    display: flex;
    color: white;
    /* background-color: aliceblue; */
    justify-content: start;
    align-items: center;
}

.nav-options {
    grid-column: 4/5;
    display: grid;
    height: 3rem;

    /* fontWeight: bold; */
    font-weight: bold;
    font-size: large;
    /* font-weight: 500; */
    /* background-color: #1A1A1A; */
}

.nav-options ul {
    height: 5rem;
    display: flex;
    align-items: center;
    /* background-color: #1A1A1A; */
    justify-content: space-between;
}

@media (max-width: 768px) {
    .main-nav {
        height: 3rem;
        grid-template-columns: 2rem 1fr 2fr 4fr 2rem;
    }

    .nav-logo {
        height: 3rem;
    }

    .nav-options ul {
        height: 3rem;
    }

}


@media (max-width:650px) {

    .nav-options {
        display: none;
        height: 0;
    }

    .nav-options ul {
        display: none;
        height: 0;
    }

    .mobile-nav {
        /* background-color: white; */
        position: relative;
        z-index: 99;
        max-height: 18rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 1.5rem;
        transform-origin: top;
        /* transition: ease-in 4s; */
        transition: all 5s linear;

        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    }

    .mobile-nav ul {
        height: 18rem;
        display: flex;
        /* justify-content: space-around; */
        justify-content: space-evenly;
        flex-direction: column;
        align-items: start;
    }

    .mobile-nav ul li:first-child {
        transition-delay: 4s;
    }

    .ham-menu {
        /* display: block; */
        font-size: 2rem;
        height: 3rem;

    }

    .ham-menu {
        display: grid;
        align-items: center;
        justify-content: end;
        padding-right: 5px;
        grid-column: auto/-2;
        /* font-size: 25px; */
    }

}

@media (max-width:320px) {
    .main-nav {
        height: 3rem;
        transform-origin: top;
        /* transition: ease-in 4s; */
        transition: all 5s linear;

        grid-template-columns: 1rem 1fr 4fr 4fr 1rem;
    }

    .mobile-nav ul li:first-child {
        transition-delay: 4s;
    }
}