@media (max-width: 767px) {
  .mobile-style {
    height: auto;
    margin-top: 0;
  }
}

.fs-1 h1 {
  background: white;
  /* background: #FFFFFF; */
  background: linear-gradient(to bottom right, #FFFFFF 7%, #3C32B0 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.skill {
  display: flex;
  /* height: screenWidth <= 425 ? "auto" : "80vh"; */
  margin-top: 2rem;

}

/* @media only screen and (max-width: 425px) {
  .skill {
    margin-top: 40rem;
  }
} */

/* .skill {
  margin-top: 2rem;
} */




/* @media(max-width:320) {

  .skill {
    margin-top: 50rem;
  }

} */

/* @media(max-width:375) {

  .skill {
    margin-top: 47rem;
  }

} */
/* 
@media(max-width:425) {

  .skill {
    margin-top: 40rem;
  }

} */

/* .skill{
  /* border: 3px solid red; */